<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title><%= title%></title>

	<meta name="description" content="Online Distributed Synchronized Presenation powered by RevealJS">
	<meta name="author" content="Rahul Sharma">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/reveal/css/reset.css">
	<link rel="stylesheet" href="/reveal/css/reveal.css">
	<link rel="stylesheet" href="/reveal/css/theme/simple.css" id="theme">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="/reveal/lib/css/zenburn.css">
	<link rel="shortcut icon" href="/app-logo.png">

	<link rel="stylesheet" href="/ncg/css/util.css">
	<style>
		.element {
			animation: pulse 1.5s ease 0s 
	  alternate infinite 
	  none running;
}
					  
@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}
	</style>
</head>

<body>