<!--<div id="hitachi-header"><img src="/ncg/img/logo-trans.png" /></div>
<div id="hitachi-footer"> &copy; 2019 Hitachi Consulting Corporation. All rights reserved. Proprietary and
	Confidential</div> -->